@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;

/* // ============ FONTS ===========// */
.font_inter {
  font-family: var(--font_inter);
}
.font_cinzel {
  font-family: var(--font_cinzel);
}

/* =========== Brand Buttons =============== */
.brand_btn_dark {
  @apply font-inter font-medium text-base sm:text-[18px] md:text-xl text-brandSecoundry bg-transparent uppercase rounded-lg border-[3px] border-transparent border-b-brandSecoundry duration-500 py-3  lg:py-5 px-[30px] hover:bg-brandSecoundry hover:text-white hover:border-transparent;
}
.brand_btn_yellow {
  @apply font-inter font-medium text-base text-brandLite sm:text-[18px] md:text-xl  bg-[#E8E8E8] uppercase rounded-lg border-[3px] border-transparent border-b-brandLite hover:border-transparent hover:bg-[#1F2937] duration-300 py-3  lg:py-5 px-[30px];
}

/* //===============CONTAINER CSS================// */
.container {
  @apply max-w-[1320px] w-full mx-auto px-5;
}

/* // =================== HOME PAGE CSS ================// */
.tiny_heading {
  @apply text-sm sm:text-xl font-inter text-tinyHeading italic font-normal text-center;
}
.divider_1 {
  @apply max-w-[250px] sm:max-w-[424px] w-full mx-auto h-1 bg-[#E8E8E8] mb-1 mt-1 sm:mb-5 sm:mt-4;
}
.heading {
  @apply font-inter text-[28px] sm:text-40 font-normal text-brandDark uppercase text-center;
}
.divider_2 {
  @apply max-w-[250px] sm:max-w-[424px] w-full mx-auto h-1 bg-[#E8E8E8]  mt-1 sm:mt-5;
}

/* ========== Hero Section slider CSS ============== */

.slider_custom_dot .slick-dots li {
  @apply !h-auto !w-auto;
}
.slider_custom_dot .slick-dots li button {
  @apply !h-0 !w-0 md:!h-3 md:!w-3 lg:!h-4 lg:!w-4;
}
.slider_custom_dot .slick-dots li button:before {
  @apply !text-[#D0D0D0]  !text-[8px] sm:text-[10px] md:text-[12px] lg:!text-[14px] !opacity-100;
}
.slider_custom_dot .slick-dots li.slick-active button:before {
  @apply !text-[#007AFF] !opacity-100;
}
/* ========= Cotact Page Section =========== */

.input_feild {
  @apply bg-white text-[#444] font-inter text-base font-normal py-4 sm:py-6 px-5 sm:px-7 placeholder:text-[#A1A1A1] placeholder:font-inter placeholder:text-[18px] placeholder:font-normal focus:outline-brandPrimary;
}

/* //========Order Online section css ==========// */

.slider_cotnainer .slick-list > div {
  display: flex !important;
  gap: 24px !important;
}
/* =========== Login Page Css ============ */
.loginBoxShadow {
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}

/* ========= ALL  section Bg ======== */
.about_section {
  background: url("/images/about.png");
}

.blog_section {
  background: url("/images/our blog bg.png");
}

.our_menu_bg {
  background: url("/images/Page Header.png");
}
.our_shop_bg {
  background: url("/images/our shop.png");
}
.our_menu_item_bg {
  background: url("/images/about.png");
}
.contact_bg {
  background: url("/images/contact bg.png");
}

.login_bg {
  background: url("/images/login bg.png");
}

@tailwind utilities;
