@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;

/* // ============ FONTS ===========// */
.font_inter {
  font-family: var(--font_inter);
}
.font_cinzel {
  font-family: var(--font_cinzel);
}

/* =========== Brand Buttons =============== */
.brand_btn_dark {
  @apply font-inter font-medium text-base sm:text-[18px] md:text-xl text-brandSecoundry bg-transparent uppercase rounded-lg border-[3px] border-transparent border-b-brandSecoundry hover:border-brandSecoundry duration-500 py-3  lg:py-5 px-[30px];
}

/* //===============CONTAINER CSS================// */
.container {
  @apply max-w-[1320px] w-full mx-auto px-5;
}

/* // =================== HOME PAGE CSS ================// */
.tiny_heading {
  @apply text-sm sm:text-xl font-inter text-tinyHeading italic font-normal text-center;
}
.divider_1 {
  @apply max-w-[250px] sm:max-w-[424px] w-full mx-auto h-1 bg-[#E8E8E8] mb-1 mt-1 sm:mb-5 sm:mt-4;
}
.heading {
  @apply font-inter text-[28px] sm:text-40 font-normal text-brandDark uppercase text-center;
}
.divider_2 {
  @apply max-w-[250px] sm:max-w-[424px] w-full mx-auto h-1 bg-[#E8E8E8]  mt-1 sm:mt-5;
}

/* //========Order Online section css ==========// */

.slider_cotnainer .slick-list > div {
  display: flex !important;
  gap: 24px !important;
}

/* ========= About section Css ======== */
.about_section {
  background: url("/images/about.png");
}

@tailwind utilities;
